@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=MuseoModerno:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$mainfont: "Montserrat", sans-serif;
$maincolor: #FF1616;

html, body {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: $mainfont;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
.overflow_hidden {
    overflow: hidden !important;
}
section:not(.first-block) {
    overflow: hidden;
}
.swiper {
    overflow: hidden;
}
.hide {
    display: none !important;
}
* {
    font-family: $mainfont;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
img, iframe, video {
    max-width: 100%;
}
.block-width {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.burger_menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    display: flex;
    z-index: 99;
    overflow: hidden;
    transform: translateY(-100%);
    padding-top: 87px;
    &.opened {
        transform: translateY(0);
    }
    &__inner {
        height: 100%;
        width: 100%;
        max-width: 100%;
        position: relative;
        margin-left: auto;
        padding: 20px 40px 48px;
        overflow: auto;
    }
    &__closer {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 1;
        background: url("data:image/svg+xml,%3Csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.353553' y1='0.646447' x2='31.3536' y2='31.6464' stroke='black'/%3E%3Cline x1='31.3536' y1='1.35355' x2='0.353553' y2='32.3536' stroke='black'/%3E%3C/svg%3E%0A") 50%/15px no-repeat $maincolor;
    }
}
.lg-hide-sub-html .lg-sub-html, .lg-next, .lg-pager-outer, .lg-prev, .lg-toolbar {
    opacity: 1;
}
#lg-counter {
    padding: 10px;
    color: #fff;
}
.site-wrapper {
    overflow: hidden;
}
.site-inner.inner-page {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
}
.cookies-popup {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding: 18px 26px;
    padding-right: 15px;
    border-radius: 5px 0 0 5px;
    position: fixed;
    right: 0;
    bottom: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    max-width: 560px;
    background: #252833;
    opacity: 0;
    visibility: hidden;
    z-index: 21;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &__closer {
        width: 35px;
        height: 35px;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        background: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.17338' y1='0.646447' x2='16.1734' y2='15.6464' stroke='white'/%3E%3Cline x1='16.1734' y1='1.35355' x2='1.17338' y2='16.3535' stroke='white'/%3E%3C/svg%3E%0A") 50% no-repeat;
    }
    &__text {
        max-height: 200px;
        overflow: auto;
    }
    a {
        text-decoration: underline;
        color: #fff;
        &:hover {
            text-decoration: none;
        }
    }
    &__btn {
        a {
            display: inline-block;
            text-decoration: none;
            border-radius: 250px;
            padding: 10px 22px;
            background: #fff;
            color: #252833;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            font-family: "Rubik", sans-serif;
            &:hover {
                background: #6eb9fc;
            }
        }
    }
}

.title-after-element {
    position: relative;
    &:after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 100%;
        min-width: 16px;
        background: #FF1616;
        margin-left: 10px;
        vertical-align: middle;
    }
}

.site-header {
    &.inner-page {
        margin-bottom: 60px;
    }
    &.about-page {
        margin-bottom: 0;
        & + .site-inner .industrial-block {
            margin-top: 0;
            .industrial-block__image img {
                max-height: 564px;
            }
        }
        & ~ .site-footer  {
            background: #fff;
            .site-footer__title, .site-footer__address-title, .site-footer__mails-item a, .site-footer__phones-item a, .site-footer__copy a:hover {
                color: #000;
            }
            .site-footer__socials-item a img, .site-footer__address-icon img {
                filter: invert(1);
            }
            .site-footer__phones-item a:before, .site-footer__mails-item a:before {
                background: #000;
            }
        }
        .site-header__image {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 73.68%);
                z-index: 1;
            }
            .image {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
            .h1_container {
                position: relative;
                top: auto;
                right: auto;
                left: auto;
                bottom: auto;
                z-index: 2;
                h1 {
                    position: relative;
                    margin-top: 156px;
                }
            }
        }
    }
    &__text {
        position: relative;
        max-width: 694px;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
        .text {
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: #fff;
            margin-bottom: 70px;
            margin-top: 22px;
        }
        .list {
            display: flex;
            flex-direction: column;
            gap: 50px;
            .item {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding-left: 36px;
                .title {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 36px;
                    text-align: left;
                    color: #fff;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        top: 10px;
                        left: -36px;
                        border-radius: 100%;
                        background: $maincolor;
                    }
                }
                .body {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                    color: rgba(#D2D4DC, .4);
                }
            }
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        gap: 49px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 20;
        padding: 40px 55px;
        transition: all 0.3s ease;
        @media all and (max-width: 1200px) {
            z-index: 101;
        }
        @media all and (max-width: 980px) {
            padding: 13px;
            background: #000;
        }
        @media all and (max-width: 550px) {
            gap: 18px;
        }
        &.fixed {
            background: #000;
        }
        &.menuOpened {
            background: #1a1a1a;
        }
    }
    &__logo {
        font-size: 0;
        img {
            max-width: 200px;
            max-height: 120px;
            @media all and (max-width: 550px) {
                max-width: 75px;
            }
        }
    }
    &__contacts {
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 3px;
        @media all and (max-width: 550px) {
            gap: 0;
        }
    }
    &__phones {

    }
    &__phones-item {

        a {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #fff;
            display: inline-block;
            position: relative;
            @media all and (max-width: 550px) {
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
            }
            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 0;
                transition: all .5s ease;
                background: #fff;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover {
                @media all and (min-width: 1025px) {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__mails {

    }
    &__mails-item {

        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #fff;
            display: inline-block;
            position: relative;
            @media all and (max-width: 550px) {
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
            }
            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 0;
                transition: all .5s ease;
                background: #fff;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover {
                @media all and (min-width: 1025px) {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        gap: 32px;
        @media all and (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-end;
        }
    }
    &__site-menu {

        ul {
            display: flex;
            align-items: center;
            gap: 32px;
            @media all and (max-width: 1200px) {
                flex-direction: column;
                align-items: flex-end;
            }
            li {

                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                    color: #fff;
                    display: inline-block;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 0;
                        transition: all .5s ease;
                        background: #fff;
                        bottom: -1px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &:hover {
                        @media all and (min-width: 1025px) {
                            &:before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    &__site-langs {
        position: relative;
    }
    &__langs-active {
        position: relative;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 4px;
        transition: all .3s ease;
        &:hover {
            color: $maincolor;
        }
        &:after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6666 6.2532L7.99995 10.9199L3.33328 6.2532' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
            @media all and (max-width: 1200px) {
                transform: rotate(180deg);
            }
        }
    }
    &__langs-list {
        position: absolute;
        top: 100%;
        width: 50px;
        opacity: 0;
        visibility: hidden;
        background: rgba(#000,.5);
        transition: all .3s ease;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media all and (max-width: 1200px) {
            background: #000;
            bottom: 100%;
            top: auto;
        }
        &.active {
            opacity: 1;
            visibility: visible;
        }
        .langs-item {

            a {
                color: #fff;
                font-size: 14px;
                transition: all .3s ease;
                &:hover {
                    color: $maincolor;
                }
            }
        }
    }
    &__burgerBtn {
        display: none;
        @media all and (max-width: 1200px) {
            display: block;
            width: 44px;
            height: 43px;
            min-width: 44px;
            cursor: pointer;
            margin-left: 15px;
            transition: all 0.3s ease;
            background: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 0 32 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='1' x2='32' y2='1' stroke='white' stroke-width='2'/%3E%3Cline y1='25' x2='32' y2='25' stroke='white' stroke-width='2'/%3E%3Cline x1='14.5303' y1='13' x2='32' y2='13' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A") 50% no-repeat;
            &.active {
                background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='1.30745' y1='0.829575' x2='24.8093' y2='24.3315' stroke='white' stroke-width='2'/%3E%3Cline x1='24.8094' y1='1.24382' x2='1.30751' y2='24.7457' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
                background-size: 24px;
            }
        }
    }
    &__image {
        min-height: 420px;
        font-size: 0;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(#000,.3);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h1 {
            margin: 0;
            font-size: 66px;
            font-weight: 300;
            line-height: 100px;
            text-align: left;
            color: #fff;
        }
        .h1_container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            padding-bottom: 63px;
            h1 {
                max-width: 720px;
                display: inline-block;
                text-transform: uppercase;
            }
            .title-after-element{
                text-align: right;
                padding-left: 100px;
                &:before {
                    margin-left: 22px;
                }
            }
        }
    }
}

.video-block {
    width: 100%;
    position: relative;
    font-size: 0;
    &:hover {
        .video-block__play-btn {
            opacity: 1;
            visibility: visible;
        }
    }
    &:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: rgba(#000,.3);
    }
    &__inner {
        video {
            width: 100%;
            max-height: 100vh;
            object-fit: cover;
            min-height: 320px;
        }
        iframe {
            width: 100%;
            height: 100vh;
        }
    }
    &__title {
        position: absolute;
        left: 75px;
        bottom: 154px;
        z-index: 2;
        width: 100%;
        max-width: 641px;
        @media all and (max-width: 800px) {
            left: 14px;
            right: 14px;
            bottom: 10px;
            width: auto;
        }
        @media all and (max-width: 640px) {
            max-width: 292px;
        }
        div {
            margin: 0;
            font-size: 66px;
            font-weight: 300;
            line-height: 100px;
            text-align: left;
            color: #fff;
            @media all and (max-width: 1024px) {
                font-size: 50px;
                font-weight: 300;
                line-height: 60px;
            }
            @media all and (max-width: 640px) {
                font-size: 30px;
                font-weight: 300;
                line-height: 40px;
            }
            span {
                display: block;
                text-align: right;
            }
        }
    }
    &__socials {
        position: absolute;
        bottom: 32px;
        right: 30px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media all and (max-width: 1025px) {
            right: 14px;
            bottom: 18px;
            gap: 8px;
        }
        @media all and (max-width: 980px) {
            display: none;
        }
    }
    &__socials-item {
        width: 32px;
        height: 32px;
        font-size: 0;
        &:hover img {
            transform: scale(1.1);
        }
        img {
            transition: all .3s ease;
            will-change: transform;
        }
    }
    &__scroll-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 75px;
        text-align: center;
        z-index: 2;
        pointer-events: none;
        @media all and (max-width: 1024px) {
            display: none;
        }
        span {
            display: inline-block;
            padding-bottom: 73px;
            cursor: pointer;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #fff;
            text-transform: uppercase;
            position: relative;
            pointer-events: auto;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 15px;
                height: 58px;
                margin-top: 9px;
                background: url("data:image/svg+xml,%3Csvg width='60' height='32' viewBox='0 0 60 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M59.1663 1.41656L29.9997 30.5832L0.833008 1.41656' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                will-change: transform;
                transition: all 0.3s ease;
                animation: tobottom-animation 2s infinite;
            }
        }
    }
    @keyframes tobottom-animation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(15px);
        }
        100% {
            transform: translateY(0);
        }
    }
    &__play-btn {
        width: 60px;
        height: 60px;
        position: absolute;
        cursor: pointer;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        z-index: 2;
        border-radius: 100%;
        transition: all .3s ease;
        will-change: transform;
        opacity: 0;
        visibility: hidden;
        background: url("data:image/svg+xml,%3Csvg width='21' height='25' viewBox='0 0 21 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.843 12.5834L0.0785072 24.5718L0.0785083 0.595083L20.843 12.5834Z' fill='black'/%3E%3C/svg%3E%0A") 58% 50% no-repeat rgba(#fff, .6);
        &:hover {
            transform: scale(1.1);
        }
    }
}

.site-footer {
    background: #000;
    padding: 35px 20px;
    &__inner {
        display: flex;
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        gap: 100px;
        align-items: flex-start;
        @media all and (max-width: 1024px) {
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    &__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        color: #fff;
        margin-top: -10px;
        @media all and (max-width: 1024px) {
            width: 100%;
            margin-top: 0;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        @media all and (max-width: 1024px) {
            width: 100%;
            margin: 0;
        }
    }
    &__phones {

    }
    &__phones-item {

        a {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #fff;
            display: inline-block;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 0;
                transition: all .5s ease;
                background: #fff;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover {
                @media all and (min-width: 1025px) {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__mails {

    }
    &__mails-item {

        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #fff;
            display: inline-block;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 0;
                transition: all .5s ease;
                background: #fff;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
            }
            &:hover {
                @media all and (min-width: 1025px) {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
    &__socials {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
    }
    &__socials-item {
        width: 32px;
        height: 32px;
        a {
            font-size: 0;
            img {
                max-width: 32px;
                border-radius: 100%;
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__address {
        display: flex;
        align-items: center;
        gap: 11px;
    }
    &__address-icon {
        max-width: 25px;
        img {
            max-width: 25px;
        }
    }
    &__address-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #fff;
    }
    &__copy {
        font-size: 14px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #5D5E6D;
        a {
            color: inherit;
            &:hover {
                color: #fff;
            }
        }
    }
    &__site-copy {

    }
    &__design-copy {

    }
}

.main-blocks {
    margin-bottom: 20px;
    &__inner {

    }
    &__title-wr {
        @media all and (max-width: 1200px) {
            padding: 0 20px;
        }
    }
    &__title {
        width: 100%;
        max-width: 470px;
        margin-bottom: 31px;
        font-size: 32px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        color: #000;
        @media all and (max-width: 980px) {
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            max-width: 100%;
        }
    }
    &__list {
        &.mosaic {
            column-count: 2;
            column-gap: 30px;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 58px;
            @media all and (max-width: 1200px) {
                columns: unset;
            }
            > div {
                break-inside: avoid;
                width: 100%;
                margin-bottom: 60px;
                @media all and (max-width: 1200px) {
                    margin-right: 0;
                    width: calc(100% - 7vw);
                }
                .main-blocks__item-body {
                    padding: 64px 70px 56px 47px;
                    max-width: 74%;
                    @media all and (max-width: 1200px) {
                        padding: 19px 14px 22px 27px;
                    }
                    @media all and (max-width: 550px) {
                        max-width: calc(100% - 30px);
                    }
                }
                .main-blocks__item-text {
                    max-width: 570px;
                }
                &:first-child {
                    padding-left: 89px;
                    margin-top: 100px;
                    @media all and (max-width: 1200px) {
                        padding-left: 0;
                        margin-top: 44px;
                    }
                    .main-blocks__item-body {
                        top: 0;
                        right: 0;
                        bottom: auto;
                        left: auto;
                    }
                }
                &:nth-child(3) {
                    .main-blocks__item-text {
                        margin-top: 46px;
                    }
                }
                &:nth-child(4n) {
                    padding-right: 125px;
                    @media all and (max-width: 1200px) {
                        padding-right: 0;
                        margin-left: 0;
                    }
                    .main-blocks__item-body {
                        padding-right: 50px;
                    }
                }
                &:nth-child(n+5) {
                    display: none;
                }
            }
        }
    }
    &__item {
        display: flex;
        gap: 30px;
        align-items: center;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-right: 125px;
        @media all and (max-width: 1600px) {
            padding-right: 7vw;
        }
        @media all and (max-width: 1200px) {
            flex-direction: column;
            gap: 44px;
        }
    }
    &__item-item {
        width: 46.2%;
        @media all and (max-width: 1200px) {
            width: 100%;
        }
        &:first-child {
            width: 53.8%;
            @media all and (max-width: 1200px) {
                width: 100%;
            }
            .main-blocks__item-title, .main-blocks__item-text {
                max-width: 568px;
                margin-left: auto;
                @media all and (max-width: 1200px) {
                    max-width: 100%;
                    padding-left: 20px;
                }
            }
            .main-blocks__item-text {
                margin-bottom: 70px;
            }
        }
        
    }
    &__item-item + .main-blocks__item-item {
        @media all and (max-width: 1200px) {
            margin-right: -7vw;
            margin-left: 7vw;
        }
        .main-blocks__item-title {
            margin-top: 33px;
            @media all and (max-width: 1200px) {
                padding-left: 26px;
                margin-top: 11px;
                margin-bottom: 0;
            }
        }
        .main-blocks__item-text {
            @media all and (max-width: 1200px) {
                padding-left: 26px;
                
            }
        }
    }
    &__item-title {
        font-size: 32px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        color: #000;
        margin-bottom: 4px;
        text-transform: uppercase;
        @media all and (max-width: 1200px) {
            font-size: 32px;
            font-weight: 400;
            line-height: 46px;
        }
        &:empty {
            display: none;
        }
    }
    &__item-text {
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        color: #000;
        @media all and (max-width: 1200px) {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }
    }
    &__item-image {
        position: relative;
        font-size: 0;
        line-height: normal;
        .image {
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &__item-body {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: rgba(#000,.5);
        padding: 51px 70px 18px 51px;
        max-width: 77%;
        width: 100%;
        @media all and (max-width: 550px) {
            padding: 15px 10px 20px 25px;
            max-width: calc(100% - 20px);
        }
        .body-title {
            font-size: 32px;
            font-weight: 400;
            line-height: 46px;
            text-align: left;
            color: #fff;
            text-transform: uppercase;
            &:empty {
                display: none;
            }
        }
        .body-text {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: left;
            color: #fff;
            @media all and (max-width: 550px) {
                font-weight: 300;
            }
        }
    }
}

.industrial-block {
    margin-top: 54px;
    position: relative;
    &__inner {

    }
    &__image {
        font-size: 0;
        width: 100%;
        min-height: 443px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 633px;
        }
    }
    &__body {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
        padding: 20px 44px;
    }
    &__body-inner {
        padding: 20px 40px;
        background: rgba(#000,.5);
        display: flex;
        min-width: 486px;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        @media all and (max-width: 980px) {
            min-width: 0;
        }
    }
    &__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 46px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
    }
    &__text {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        color: #fff;
    }
    &__btn {

        a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            text-align: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                top: 100%;
                left: 50%;
                background: #fff;
                margin-top: -5px;
                transition: all 0.3s ease;
                transform: translateX(-50%);
            }
            &:hover {
                &:before {
                    width: 0;
                }
            }
        }
    }
}

.our-projects {
    padding: 0 20px;
    margin-bottom: 85px;
    &__slider-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 46px;
        .swiper-button-next, .swiper-button-prev {
            position: static;
            margin: 0;
            width: 18px;
            height: 18px;
            min-width: 18px;
        }
        .swiper-button-prev {
            background: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.625 15.0626L6.375 9.81256L11.625 4.56256' stroke='%231D222F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.625 15.0626L6.375 9.81256L11.625 4.56256' stroke='%23FF1616' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
        .swiper-button-next {
            background: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.375 4.5625L11.625 9.8125L6.375 15.0625' stroke='%231D222F' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
            &:hover {
                background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.375 4.5625L11.625 9.8125L6.375 15.0625' stroke='%23FF1616' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            }
        }
        .swiper-pagination {
            position: static;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 16px;
            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background: #D9D9D9;
                transition: all 0.3s ease;
                opacity: 1;
                &:hover {
                    background: $maincolor;
                }
                &.swiper-pagination-bullet-active {
                    background: none;
                    border: 2px solid #FF1616;
                }
            }
        }
    }
    &__inner {
        width: 100%;
        max-width: 1508px;
        margin: 0 auto;
    }
    &__slider {

    }
    &__slider-item {
        position: relative;
        overflow: hidden;
        &.swiper-slide-next,
        &.swiper-slide-prev,
        &.swiper-slide-duplicate-next,
        &.swiper-slide-duplicate-prev {
            .our-projects__item-image img {
                transform: scale(1.3);
            }
        }
        &.swiper-slide-active, &.swiper-slide-duplicate-active, &.swiper-slide-active + div {
            .our-projects__item-image img {
                transform: scale(1);
            }
        }
    }
    &__item-image {
        font-size: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1400ms ease;
            will-change: transform;
        }
    }
    &__item-body {
        position: absolute;
        bottom: 0;
        left: 42px;
        background: rgba(#fff, .9);
        padding: 36px 36px 20px;
        z-index: 1;
        max-width: 286px;
        padding-right: 27px;
        &:before {
            content: '';
            position: absolute;
            border-radius: 100%;
            top: 20px;
            left: 17px;
            width: 16px;
            height: 16px;
            background: #FF1616;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        color: #000;
        margin-bottom: 13px;
    }
    &__bottom {

    }
    &__params {

    }
    &__params-item {

        .title {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            color: #000;
            display: inline-block;
            vertical-align: middle;
        }
        .body {
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #000;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__btn {
        margin-top: 10px;
        a {
            display: inline-block;
            text-decoration: none;
            width: 50px;
            height: 30px;
            transition: all 0.3s ease;
            background: url("data:image/svg+xml,%3Csvg width='38' height='16' viewBox='0 0 38 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.359 8.75429C37.7495 8.36376 37.7495 7.7306 37.359 7.34007L30.995 0.976112C30.6045 0.585588 29.9713 0.585588 29.5808 0.976112C29.1903 1.36664 29.1903 1.9998 29.5808 2.39033L35.2376 8.04718L29.5808 13.704C29.1903 14.0946 29.1903 14.7277 29.5808 15.1182C29.9713 15.5088 30.6045 15.5088 30.995 15.1182L37.359 8.75429ZM0.623291 9.04718H36.6519V7.04718H0.623291V9.04718Z' fill='%235D5E6D'/%3E%3C/svg%3E%0A") 50% no-repeat;
            &:hover {
                transform: translateX(10px);
            }
        }
    }
}

.site-wrapper .clients-block {
    padding: 78px 20px 62px;
    position: relative;
    overflow: visible;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 9999px;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(#D2D4DC, .4);
    }
    &__inner {
        display: flex;
        gap: 30px;
        position: relative;
        z-index: 1;
    }
    &__left {
        width: 470px;
    }
    &__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        color: #000;
        margin-bottom: 10px;
    }
    &__text {
        padding-left: 68px;
        font-size: 18px;
        font-weight: 300;
        line-height: 28px;
        text-align: left;
        color: #000;
    }
    &__right {
        width: calc(100% - 500px);
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 17px 22px;
        margin-top: 17px;
    }
    &__item {
        width: calc(33.3% - 14.7px);
    }
}

.project-info {
    margin-bottom: 100px;
    padding: 0 20px;
    &__inner {
        width: 100%;
        max-width: 1555px;
        margin: 0 auto;
    }
    &__title {
        font-size: 32px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        color: #000;
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 25px;
    }
    &__body {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }
    &__left {
        width: calc(50.5% - 15px);
    }
    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #5D5E6D;
        margin-bottom: 30px;
        padding-left: 10.3vw;
        padding-right: 10px;
    }
    &__left-slider {
        position: relative;
        font-size: 0;
        margin-bottom: 70px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slider-nav {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            background: rgba(#000,.33);
            padding: 14px 15px;
            display: flex;
            gap: 14px;
            > div {
                position: static;
                margin: 0;
                width: 42px;
                height: 42px;
                &.swiper-button-prev {
                    background: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4619 33.5358L15.2119 21.2858L27.4619 9.03577' stroke='%23D2D4DC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                }
                &.swiper-button-next {
                    background: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2119 9.03571L27.4619 21.2857L15.2119 33.5357' stroke='%23D2D4DC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                }
            }
        }
    }
    &__reviews {
        padding-left: 10.3vw;
    }
    &__reviews-inner {
        padding: 45px 45px 50px 70px;
        background: url("data:image/svg+xml,%3Csvg width='170' height='162' viewBox='0 0 170 162' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M145.411 0.253784L161.919 21.4794C155.63 27.3192 149.566 36.3036 143.726 48.4325C138.111 60.3368 135.079 75.3856 134.629 93.579L169.332 97.9589V161.299H101.949V131.313C101.949 128.618 102.061 123.003 102.286 114.468C102.51 105.708 102.735 99.868 102.959 96.9481C103.184 93.8036 103.521 88.5253 103.97 81.1132C104.419 73.701 105.093 68.3104 105.992 64.9413C106.89 61.5721 108.013 56.8553 109.361 50.7909C110.708 44.7264 112.393 39.8973 114.415 36.3036C116.661 32.7098 119.131 28.5546 121.827 23.8378C124.747 19.121 128.116 14.9657 131.934 11.3719C135.977 7.55359 140.469 3.84753 145.411 0.253784ZM46.3579 0.253784L62.8667 21.4794C56.5776 27.3192 50.5132 36.3036 44.6733 48.4325C39.0581 60.3368 36.0259 75.2733 35.5767 93.2421L68.2573 97.9589V161.299H0.874512V131.313C0.874512 117.612 0.986816 107.168 1.21143 99.9803C1.43604 92.7928 2.33447 83.5839 3.90674 72.3534C5.479 60.8983 7.7251 51.577 10.645 44.3895C13.7896 37.202 18.2817 29.5653 24.1216 21.4794C30.186 13.3934 37.5981 6.31824 46.3579 0.253784Z' fill='white'/%3E%3C/svg%3E%0A") top 45px right 50px no-repeat #D2D4DC;
    }
    &__reviews-top {
        max-width: 200px;
    }
    &__reviews-title {
        font-size: 32px;
        font-weight: 400;
        line-height: 46px;
        text-align: left;
        color: #000;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: -32px;
            top: 14px;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background: $maincolor;
        }
    }
    &__reviews-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #5D5E6D;
        margin-top: 17px;
    }
    &__reviews-bottom {
        margin-top: 46px;
    }
    &__reviews-body {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        color: #000;
    }
    &__right {
        width: calc(49.5% - 15px);
    }
    &__params {
        display: flex;
        flex-wrap: wrap;
        gap: 8px 24px;
        margin-bottom: 38px;
    }
    &__params-item {
        color: #000;
        &:first-child {
            width: 100%;
        }
        .title {
            display: inline-block;
            margin-right: 5px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;

        }
        .body {
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
            color: #000;
        }
    }
    &__result {

    }
    &__result-slider {
        font-size: 0;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
            z-index: 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__slider-nav {
        position: absolute;
        bottom: 0;
        left: 40px;
        z-index: 2;
        background: rgba(#000,.73);
        padding: 14px 15px;
        padding-left: 25px;
        display: flex;
        gap: 14px;
        .title {
            font-size: 32px;
            font-weight: 400;
            line-height: 46px;
            text-align: left;
            color: #fff;
            text-transform: uppercase;
            margin-right: 25px;
        }
        > div:not(.title) {
            position: static;
            margin: 0;
            width: 42px;
            height: 42px;
            &.swiper-button-prev {
                background: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4619 33.5358L15.2119 21.2858L27.4619 9.03577' stroke='%23D2D4DC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
            &.swiper-button-next {
                background: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2119 9.03571L27.4619 21.2857L15.2119 33.5357' stroke='%23D2D4DC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
            }
        }
    }
    &__result-text {
        color: #000;
        max-width: 571px;
        padding-left: 40px;
        margin-top: 24px;
        .param-item {
            .title {
                display: inline-block;
                margin-right: 5px;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
                vertical-align: middle;
            }
            .body {
                display: inline;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #000;
            }
        }
    }
}

.other-projects {
    padding: 0 50px;
    margin-bottom: 90px;
    &__inner {
        width: 100%;
        max-width: 1620px;
        margin: 0 auto;
    }
    &__title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        color: #000;
    }
    &__body {
        position: relative;
    }
    &__slider {
        position: relative;
    }
    &__item {
        position: relative;
        &:hover {
            img {
                transform: scale(1.3);
            }
        }
    }
    &__item-image {
        font-size: 0;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1.4s ease;
            will-change: transform;
        }
    }
    &__item-body {
        position: absolute;
        bottom: 0;
        left: 20px;
        padding: 27px 37px 22px 47px;
        background: rgba(#fff, .8);
        max-width: 286px;
    }
    &__item-title {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #000;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: -28px;
            top: 0;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background: #000;
        }
    }
    &__item-btn {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        background: url("data:image/svg+xml,%3Csvg width='19' height='20' viewBox='0 0 19 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5463 19.0101C18.0986 19.0101 18.5463 18.5624 18.5463 18.0101L18.5463 9.01009C18.5463 8.4578 18.0986 8.01009 17.5463 8.01009C16.9941 8.01009 16.5463 8.4578 16.5463 9.01009L16.5463 17.0101L8.54634 17.0101C7.99406 17.0101 7.54634 17.4578 7.54634 18.0101C7.54634 18.5624 7.99406 19.0101 8.54634 19.0101L17.5463 19.0101ZM0.248948 2.12691L16.8392 18.7172L18.2534 17.303L1.66316 0.712693L0.248948 2.12691Z' fill='%235D5E6D'/%3E%3C/svg%3E%0A") bottom right no-repeat;
    }
    &__item-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 2;
    }
    &__nav {
        position: absolute;
        top: calc(50% - 21px);
        left: -50px;
        right: -50px;
        pointer-events: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            pointer-events: auto;
            position: static;
            margin: 0;
            width: 42px;
            height: 42px;
            &.swiper-button-prev {
                background: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.4619 33.5358L15.2119 21.2858L27.4619 9.03577' stroke='%235D5E6D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                &:hover {
                    background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.748 34.0021L15.498 21.7521L27.748 9.50208' stroke='%23FF1616' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                }
            }
            &.swiper-button-next {
                background: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2119 9.03571L27.4619 21.2857L15.2119 33.5357' stroke='%235D5E6D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") 50% no-repeat;
                &:hover {
                    background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 43 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.3301 9.50195L27.5801 21.752L15.3301 34.002' stroke='%23FF1616' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                }
            }
        }
    }
}

.contacts-block {
    margin-bottom: 150px;
    &__inner {
        width: 100%;
        max-width: 1586px;
        margin: 0 auto;
    }
    &__inner-wr {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        max-width: 1375px;
        margin-left: auto;
    }
    &__left {
        width: 100%;
        max-width: 568px;
    }
    &__top-info {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__info-item {
        width: 100%;
        border-bottom: 1px solid #D2D4DC;
        padding-bottom: 11px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }
    &__info-title {
        width: 35%;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #5D5E6D;
    }
    &__info-body {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__info-phones {
        display: flex;
        gap: 10px;
        .phone-icon {
            width: 20px;
            height: 20px;
            min-width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2px;
        }
        .phones {

            .phones_item {
                margin-right: 5px;
                display: inline-block;
                a {
                    color: #000;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: left;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__info-mails {
        display: flex;
        gap: 10px;
        .mail-icon {
            width: 20px;
            height: 20px;
            min-width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 4px;
        }
        .mails {

            .mails-item {
                margin-right: 5px;
                display: inline-block;
                a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    text-align: left;
                    color: #000;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__map {
        flex: auto;
        width: 100%;
        max-width: calc(100% - 600px);
    }
    &__map-address {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 16px;
        .icon {
            font-size: 0;
            img {
                max-width: 25px;
            }
        }
        .title {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            text-align: left;
            color: #000;
        }
    }
    &__requisites {
        width: 100%;
        background: rgba(#D2D4DC, .4);
        padding: 36px 40px 40px;
        &-title {
            font-size: 32px;
            font-weight: 400;
            line-height: 46px;
            text-align: left;
            margin-bottom: 22px;
            &:before {
                content: '';
                width: 16px;
                height: 16px;
                display: inline-block;
                border-radius: 100%;
                background: $maincolor;
                min-width: 16px;
                vertical-align: middle;
                margin-right: 16px;
            }
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &-item {
            width: 100%;
            display: flex;
            gap: 10px;
            .title {
                width: 45%;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                text-align: left;
                color: #000;
            }
            .body {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                text-align: left;
                color: #000;
                width: calc(55% - 10px);
            }
        }
    }
}