</div>
<footer class="site-footer">
    <div class="site-footer__inner">
        <div class="site-footer__title title-after-element">Contact Us</div>
        <div class="site-footer__contacts">
            <div class="site-footer__phones">
                <div class="site-footer__phones-item">
                    <a href="tel:+373 78 777 227">+373 78 777 227</a>
                </div>
            </div>
            <div class="site-footer__mails">
                <div class="site-footer__mails-item">
                    <a href="mailto:mail@pnt.group">mail@pnt.group</a>
                </div>
            </div>
            <div class="site-footer__socials">
                <div class="site-footer__socials-item">
                    <a href="#">
                        <img src="images/insta_icon.svg" alt="insta">
                    </a>
                </div>
                <div class="site-footer__socials-item">
                    <a href="#">
                        <img src="images/fb_icon.svg" alt="fb">
                    </a>
                </div>
            </div>
        </div>
        <div class="site-footer__right">
            <div class="site-footer__address">
                <div class="site-footer__address-icon">
                    <img src="images/address_icon.svg" alt="address_icon">
                </div>
                <div class="site-footer__address-title">Strada Uzinelor 21, Chișinău, Moldova</div>
            </div>
            <div class="site-footer__copy">
                <div class="site-footer__site-copy">(C) 2024 "Paint Service" Все права защищены | <a href="#">Cookie files</a></div>
                <div class="site-footer__design-copy">Designed and Developed GoLive Solutions</div>
            </div>
        </div>
    </div>
</footer>
</div>

<div class="burger_menu">
    <div class="burger_menu__closer"></div>
    <div class="burger_menu__inner">
    </div>
</div>

<div class="cookies-popup">
    <div class="cookies-popup__closer"></div>
    <div class="cookies-popup__text">Наш сайт использует файлы cookie, чтобы улучшить работу сайта, повысить его эффективность и удобство. Продолжая использовать сайт ,  вы соглашаетесь на использование <a href="#">файлов cookie</a>.</div>
    <div class="cookies-popup__btn">
        <a href="javascript:void(0);">ОК</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/js/lightgallery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
<script src="https://cdn.rawgit.com/sachinchoolur/lg-fullscreen.js/master/dist/lg-fullscreen.js"></script>
<script src="js/app.js"></script>
</body>
</html>