<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>Главная</title>
    <meta name="description" content="Constructuib & fitout">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" integrity="sha512-F2E+YYE1gkt0T5TVajAslgDfTEUQKtlu4ralVq78ViNxhKXQLrgQLLie8u1tVdG2vWnB3ute4hcdbiBtvJQh0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css"/>
    <link rel="stylesheet" href="css/site_styles.css">
</head>
<body>
    <div class="site-wrapper">
        <header class="site-header">
            <div class="site-header__inner">
                <div class="site-header__logo">
                    <a href="index.html">
                        <img src="images/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="site-header__contacts">
                    <div class="site-header__phones">
                        <div class="site-header__phones-item">
                            <a href="tel:+37378777227">+373 78 777 227</a>
                        </div>
                    </div>
                    <div class="site-header__mails">
                        <div class="site-header__mails-item">
                            <a href="mailto:mail@pnt.group">mail@pnt.group</a>
                        </div>
                    </div>
                </div>
                <div class="site-header__menu">
                    <nav class="site-header__site-menu">
                        <ul>
                            <li><a href="index.html">MAIN</a></li>
                            <li><a href="about_page.html">ABOUT</a></li>
                            <li><a href="our_projects.html">PROJECTS</a></li>
                            <li><a href="contacts_page.html">CONTACTS</a></li>
                        </ul>
                    </nav>
                    <div class="site-header__site-langs">
                        <div class="site-header__langs-active">EN</div>
                        <div class="site-header__langs-list">
                            <div class="langs-item"><a href="#">EN</a></div>
                            <div class="langs-item"><a href="#">RU</a></div>
                            <div class="langs-item"><a href="#">RO</a></div>
                        </div>
                    </div>
                </div>
                <div class="site-header__burgerBtn"></div>
            </div>
        </header>
        <div class="site-inner">

    