include _aboutHeader.jade

<section class="industrial-block">
    <div class="industrial-block__inner">
        <div class="industrial-block__image" style="background: url('images/industrial.png') 50%/cover no-repeat fixed">
            <img src="images/industrial.png" alt="industrial" style="opacity: 0;">
        </div>
        <div class="industrial-block__body">
            <div class="industrial-block__body-inner">
                <div class="industrial-block__title">Our projects</div>
                <div class="industrial-block__text">
                    <div class="industrial-block__btn">
                        <a href="#">more details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

include _footer.jade