include _header.jade

<section class="video-block">
    <div class="video-block__inner">
        <div class="video">
            <!-- <div class="video-block__play-btn"></div> -->
            <video src="files/pmt_video.mp4" muted autoplay  preload="auto" loop playsinline autobuffer></video>
            <!-- <iframe src="https://www.youtube.com/embed/OFAvAHw6fUU?si=Y3esnC7X7a7s6xPf&controls=0" frameborder="0" controls="false"></iframe> -->
        </div>
        <div class="video-block__title">
            <div>CONSTRUCTION <span>& FITOUT</span></div>
        </div>
        <div class="video-block__socials">
            <div class="video-block__socials-item">
                <a href="#" target="_blank">
                    <img src="images/insta_icon.svg" alt="insta_icon">
                </a>
            </div>
            <div class="video-block__socials-item">
                <a href="#" target="_blank">
                    <img src="images/fb_icon.svg" alt="fb_icon">
                </a>
            </div>
        </div>
        <div class="video-block__scroll-btn">
            <span>Scroll</span>
        </div>
    </div>
</section>

<section class="main-blocks">
    <div class="main-blocks__inner">
        <div class="main-blocks__title-wr block-width">
            <h1 class="main-blocks__title title-after-element">WE ARE INSPIRED TO FIND SOLUTIONS WHERE OTHERS CANNOT</h1>
        </div>
        <div class="main-blocks__list">
            <div class="main-blocks__item">
                <div class="main-blocks__item-item">
                    <div class="main-blocks__item-title"></div>
                    <div class="main-blocks__item-text">Our company offers a variety of services to meet your project’s needs,  to take you from collaboration meetings all the way to ribbon-cutting  and beyond. We believe that every project is unique, and can customize  our approach to fit your particular project. While we are at the  forefront of and specialize in design-build, we are very familiar with a  number of delivery methods and are confident we can find the process  that will best help you meet your goals.</div>
                    <div class="main-blocks__item-image">
                        <div class="image">
                            <picture>
                                <source media="(min-width: 551px)" srcset="images/main_bl1.png">
                                <source media="(max-width: 550px)" srcset="images/main_bl1_mob.png">
                                <img src="images/main_bl1.png" alt="main_bl1">
                            </picture>
                        </div>
                        <div class="main-blocks__item-body">
                            <div class="body-title">General Contractor</div>
                            <div class="body-text">Warehouses and Logistics</div>
                        </div>
                    </div>
                </div>
                <div class="main-blocks__item-item">
                    <div class="main-blocks__item-image">
                        <div class="image">
                            <picture>
                                <source media="(min-width: 551px)" srcset="images/main_bl2.png">
                                <source media="(max-width: 550px)" srcset="images/main_bl2_mob.png">
                                <img src="images/main_bl2.png" alt="main_bl2">
                            </picture>
                        </div>
                        <div class="main-blocks__item-body">
                            <div class="body-title"></div>
                            <div class="body-text">Our company offers a variety of services to meet your project’s needs,  to take you from collaboration meetings all the way to ribbon-cutting  and beyond. We believe that every project is unique, and can customize  our approach to fit your particular project. </div>
                        </div>
                    </div>
                    <div class="main-blocks__item-title">General Contractor </div>
                    <div class="main-blocks__item-text">Commercial buildings</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="industrial-block">
    <div class="industrial-block__inner">
        <div class="industrial-block__image" style="background: url('images/industrial.png') 50%/cover no-repeat fixed">
            <img src="images/industrial.png" alt="industrial" style="opacity: 0;">
        </div>
        <div class="industrial-block__body">
            <div class="industrial-block__body-inner">
                <div class="industrial-block__title">Industrial painting</div>
                <div class="industrial-block__text">Chemical resistance and Coating Products</div>
            </div>
        </div>
    </div>
</section>

<section class="main-blocks">
    <div class="main-blocks__inner">
        <div class="main-blocks__list mosaic">
            <div class="main-blocks__item-item">
                <div class="main-blocks__item-title">Agricultural projects</div>
                <div class="main-blocks__item-text">Plans and fruit storages</div>
                <div class="main-blocks__item-image">
                    <div class="image">
                        <img src="images/main_bl3.png" alt="main_bl3">
                    </div>
                    <div class="main-blocks__item-body">
                        <div class="body-title"></div>
                        <div class="body-text">Our company offers a variety of services to meet your project’s needs,  to take you from collaboration meetings all the way to ribbon-cutting  and beyond. We believe that every project is unique, and can customize  our approach to fit your particular project. </div>
                    </div>
                </div>
            </div>
            <div class="main-blocks__item-item">
                <div class="main-blocks__item-title"></div>
                <div class="main-blocks__item-text"></div>
                <div class="main-blocks__item-image">
                    <div class="image">
                        <img src="images/main_bl5.png" alt="main_bl5">
                    </div>
                    <div class="main-blocks__item-body">
                        <div class="body-title">Steel protection works</div>
                        <div class="body-text">Fireproofing and Anti-corrosion protection</div>
                    </div>
                </div>
            </div>
            <div class="main-blocks__item-item">
                <div class="main-blocks__item-image">
                    <div class="image">
                        <img src="images/main_bl4.png" alt="main_bl4">
                    </div>
                    <div class="main-blocks__item-body">
                        <div class="body-title">A beautiful renovation</div>
                        <div class="body-text">Historical buildings and architectural monuments</div>
                    </div>
                </div>
                <div class="main-blocks__item-title"></div>
                <div class="main-blocks__item-text">Our company offers a variety of services to meet your project’s needs,  to take you from collaboration meetings all the way to ribbon-cutting  and beyond. We believe that every project is unique, and can customize  our approach to fit your particular project. </div>
            </div>
            <div class="main-blocks__item-item">
                <div class="main-blocks__item-image">
                    <div class="image">
                        <img src="images/main_bl6.png" alt="main_bl6">
                    </div>
                    <div class="main-blocks__item-body">
                        <div class="body-title"></div>
                        <div class="body-text">Our company offers a variety of services to meet your project’s needs,  to take you from collaboration meetings all the way to ribbon-cutting  and beyond. We believe that every project is unique, and can customize  our approach to fit your particular project. </div>
                    </div>
                </div>
                <div class="main-blocks__item-title">FitOut Solutions</div>
                <div class="main-blocks__item-text">Design and renovation services</div>
            </div>
        </div>
    </div>
</section>

include _footer.jade