include _innerHeader.jade

<section class="our-projects">
    <div class="our-projects__inner">
        <div class="our-projects__slider swiper">
            <div class="swiper-wrapper">
                <div class="our-projects__slider-item swiper-slide">
                    <div class="our-projects__item-image">
                        <img src="images/our_project1.png" alt="our_project1">
                    </div>
                    <div class="our-projects__item-body">
                        <div class="our-projects__title">Petricani 17/3 building</div>
                        <div class="our-projects__bottom">
                            <div class="our-projects__params">
                                <div class="our-projects__params-item">
                                    <div class="title">Local:</div> 
                                    <div class="body">Mun. Chisinau, Repiblic oа Moldova</div>
                                </div>
                                <div class="our-projects__params-item">
                                    <div class="title">Area:</div> 
                                    <div class="body">5.200 m2</div>
                                </div>
                                <div class="our-projects__params-item">
                                    <div class="title">Deadline:</div> 
                                    <div class="body">7 months</div>
                                </div>
                            </div>
                            <div class="our-projects__btn">
                                <a href="ozon_shopping.html"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-projects__slider-item swiper-slide">
                    <div class="our-projects__item-image">
                        <img src="images/our_project2.png" alt="our_project2">
                    </div>
                    <div class="our-projects__item-body">
                        <div class="our-projects__title">OZON SHOPPING CENTRE</div>
                        <div class="our-projects__bottom">
                            <div class="our-projects__params">
                                <div class="our-projects__params-item">
                                    <div class="title">Local:</div> 
                                    <div class="body">Mun. Chisinau, Repiblic oа Moldova</div>
                                </div>
                                <div class="our-projects__params-item">
                                    <div class="title">Area:</div> 
                                    <div class="body">6.500 m2</div>
                                </div>
                                <div class="our-projects__params-item">
                                    <div class="title">Deadline:</div> 
                                    <div class="body">14 months</div>
                                </div>
                            </div>
                            <div class="our-projects__btn">
                                <a href="ozon_shopping.html"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-projects__slider-item swiper-slide">
                    <div class="our-projects__item-image">
                        <img src="images/our_project1.png" alt="our_project1">
                    </div>
                    <div class="our-projects__item-body">
                        <div class="our-projects__title">Petricani 17/3 building</div>
                        <div class="our-projects__bottom">
                            <div class="our-projects__params">
                                <div class="our-projects__params-item">
                                    <div class="title">Local:</div> 
                                    <div class="body">Mun. Chisinau, Repiblic oа Moldova</div>
                                </div>
                                <div class="our-projects__params-item">
                                    <div class="title">Area:</div> 
                                    <div class="body">5.200 m2</div>
                                </div>
                                <div class="our-projects__params-item">
                                    <div class="title">Deadline:</div> 
                                    <div class="body">7 months</div>
                                </div>
                            </div>
                            <div class="our-projects__btn">
                                <a href="ozon_shopping.html"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-projects__slider-nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>

<section class="clients-block">
    <div class="clients-block__inner block-width">
        <div class="clients-block__left">
            <div class="clients-block__title title-after-element">Клиенты</div>
            <div class="clients-block__text">Our company offers a variety of services to meet your project’s needs,  to take you from collaboration meetings all the way to ribbon-cutting  and beyond. We believe that every project is unique, and can customize  our approach to fit your particular project. While we are at the  </div>
        </div>
        <div class="clients-block__right"></div>
    </div>
</section>

include _footer.jade