include _innerHeader.jade
<section class="project-info">
    <div class="project-info__inner">
        <div class="project-info__title title-after-element">Description</div>
        <div class="project-info__body">
            <div class="project-info__left">
                <div class="project-info__text">Our company offers a variety of services to meet your project’s needs,  to take you from collaboration meetings all the way to ribbon-cutting  and beyond. We believe that every project is unique, and can customize  our approach to fit your particular project. While we are at the  forefront of and specialize in design-build, we are very familiar with a  number of delivery methods and are confident we can find the process  that will best help you meet your goals.</div>
                <div class="project-info__left-slider swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="images/resultbefore.png">
                                <img src="images/resultbefore.png" alt="resultbefore">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="images/resultbefore.png">
                                <img src="images/resultbefore.png" alt="resultbefore">
                            </a>
                        </div>
                    </div>
                    <div class="slider-nav">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
                <div class="project-info__reviews">
                    <div class="project-info__reviews-inner">
                        <div class="project-info__reviews-top">
                            <div class="project-info__reviews-title">Дмитрий Иванов</div>
                            <div class="project-info__reviews-text">Директор, SA MAIB</div>
                        </div>
                        <div class="project-info__reviews-bottom">
                            <div class="project-info__reviews-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean  euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et  viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis  natoque penatibus et magnis dis parturient montes, nascetur ridiculus  mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis  orci, sed rhoncus pronin sapien nunc accuan eget</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-info__right">
                <div class="project-info__params">
                    <div class="project-info__params-item">
                        <div class="title">Local:</div>
                        <div class="body">Mun. Chisinau, Repiblic oа Moldova</div>
                    </div>
                    <div class="project-info__params-item">
                        <div class="title">Area:</div>
                        <div class="body">6.500 m2</div>
                    </div>
                    <div class="project-info__params-item">
                        <div class="title">Deadline:</div>
                        <div class="body">14 months</div>
                    </div>
                </div>
                <div class="project-info__result">
                    <div class="project-info__result-slider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="images/result1.png">
                                    <img src="images/result1.png" alt="result1">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="images/result1.png">
                                    <img src="images/result1.png" alt="result1">
                                </a>
                            </div>
                        </div>
                        <div class="project-info__slider-nav">
                            <div class="title">Result</div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="project-info__result-text">
                        <div class="param-item">
                            <div class="title">Building extension:</div> 
                            <div class="body">a new reinforced concrete structure was built, connected to the existing one.</div>
                        </div>
                        <div class="param-item">
                            <div class="title">Wall construction:</div>
                            <div class="body">The walls are constructed from aerated concrete, which was chosen for its high thermal Insulation properties and eose of installation.</div>
                        </div>
                        <div class="param-item">
                            <div class="title">Facado insulation:</div>
                            <div class="body">the facade was Insulated to ensure comfortable Irving conditions in the building For this, modern facing and heat-Insulating materials were used.</div>
                        </div>
                        <div class="param-item">
                            <div class="title">Roof structure:</div>
                            <div class="body">the roof is made of PVC membrane, which has high strength, tightness and durability. All reconstruction works were carried out taking into account modem energy efficiency and safety requirements, which ensures comfortable and safe living conditions in the building."</div>
                        </div>
                        <div class="param-item">
                            <div class="title">Fit Out:</div>
                            <div class="body">after the completion of all the main works, the Paint Service company began to perform finishing work.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="other-projects">
    <div class="other-projects__inner">
        <div class="other-projects__title">MORE PROJECTS</div>
        <div class="other-projects__body">
            <div class="other-projects__slider swiper">
                <div class="swiper-wrapper">
                    <div class="other-projects__item swiper-slide">
                        <a href="#" class="other-projects__item-link"></a>
                        <div class="other-projects__item-image">
                            <img src="images/our_project1.png" alt="our_project1">
                        </div>
                        <div class="other-projects__item-body">
                            <div class="other-projects__item-title">Petricani 17/3 building</div>
                            <div class="other-projects__item-btn"></div>
                        </div>
                    </div>
                    <div class="other-projects__item swiper-slide">
                        <a href="#" class="other-projects__item-link"></a>
                        <div class="other-projects__item-image">
                            <img src="images/our_project2.png" alt="our_project2">
                        </div>
                        <div class="other-projects__item-body">
                            <div class="other-projects__item-title">OZON SHOPPING CENTRE</div>
                            <div class="other-projects__item-btn"></div>
                        </div>
                    </div>
                    <div class="other-projects__item swiper-slide">
                        <a href="#" class="other-projects__item-link"></a>
                        <div class="other-projects__item-image">
                            <img src="images/our_project1.png" alt="our_project1">
                        </div>
                        <div class="other-projects__item-body">
                            <div class="other-projects__item-title">Petricani 17/3 building</div>
                            <div class="other-projects__item-btn"></div>
                        </div>
                    </div>
                    <div class="other-projects__item swiper-slide">
                        <a href="#" class="other-projects__item-link"></a>
                        <div class="other-projects__item-image">
                            <img src="images/our_project2.png" alt="our_project2">
                        </div>
                        <div class="other-projects__item-body">
                            <div class="other-projects__item-title">Petricani 17/3 building</div>
                            <div class="other-projects__item-btn"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-projects__nav">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>
include _footer.jade